body {
	margin: 0;
}

/* header */

.header-container {
	padding: 8px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1f2937;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.logo {
	font-size: 24px;
	color: #f9faf8;
}

.right-links {
	display: flex;
	gap: 8px;
	font-size: 18px;
}

.header-links {
	color: #e5e7eb;
	font-size: 18px;
	text-decoration: none;
}

/* hero */

.hero-container {
	display: flex;
	gap: 16px;
	background-color: #1f2937;
}

.hero-left {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 50%;
}

h1.hero-header {
	font-size: 48px;
	font-weight: 900;
	color: #f9faf8;
}

p.hero-text {
	font-size: 18px;
	color: #e5e7eb;
}

button.hero-button {
	background-color: #3882f6;
	color: #f9faf8;
	border-style: none;
	border-radius: 5px;
	align-self: flex-start;
	padding: 4px 8px;
}

.hero-right {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 50%;
	color: #f9faf8;
	background-color: grey;
}
